h1 {
    font-family:Georgia, Times, serif;
    font-size:3rem; 
    background-color:#121858;
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

body {
    /*background-color: #333333;*/
    margin-left: 100px;
    margin-right: 100px;
}

h3 {
    font-family:Georgia, Times, serif;
    background-color: gainsboro;
    padding: 5px;
    font-style: italic;
}

#game {
    display: none;
}

hr {
    border: 1px solid #121858;
}

button {
    background-color: #121858;
    color: #FFFFFF;
    padding: 5px 28px;
    border-radius: 20px;
    margin-top: 15px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-decoration: #FFFFFF;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    text-align: center;
}

.dot {
    font-size: 20px;
    color: #000000;
    text-align: center;
    background: #B3B3B3;
    border-color: #333;
    border-style: solid;
}

